@model Dropdowns.Models.SignUpModel

@{ ViewBag.Title = "Sign up"; }

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <h1>Sign up</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { role = "form" })) {

                    @* Name textbox *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>

                    @* State selection dropdown *@
                    <div class="form-group">
                        @Html.LabelFor(m => m.State)
                        @Html.DropDownListFor(m => m.State, // 1. Store selected value in Model.State;
                                                            // when page is rendered after postback,
                                                            // take selected value from Model.State.

                                              // 2. Take list of values from Model.States
                                              Model.States,

                                              // 3. Text for the first 'default' option
                                              "- Please select a state -",

                                              //4. A class name to assign to <select> tag
                                              new { @class = "form-control" })
                    </div>

                    <button type="submit" class="btn btn-primary">Sign up</button>
                }
            </div>
        </div>
    </div>
</div>
